<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luoxiaopan.note"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/note_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.luoxiaopan.noteEdit.EditNote"
            android:label="@string/title_activity_edit_note" >
        </activity>
        <activity
            android:name="com.luoxiaopan.noteDispaly.DisplayNote"
            android:label="@string/title_activity_display_note" >
        </activity>
        <activity
            android:name="com.luoxiaopan.noteDispaly.DisplayAllNote"
            android:label="@string/title_activity_display_all_note" >
        </activity>
        
        <receiver
            android:name="com.luoxiaopan.noteWidget.NoteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>    
            	<action android:name="com.luoxiaopan.note.UPDATE_ACTION"/>       
            </intent-filter>
            
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget"/>
        </receiver>
        
        <service
            android:name="com.luoxiaopan.noteWidget.WidgetNoteListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false"/>
    </application>

</manifest>
